<h1>New movie</h1>
<%= form_for :movie, url: movies_path do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <%= link_to 'Back', movies_path, class: 'btn btn-default' %>
  <%= f.submit 'Save', class: 'btn btn-primary pull-right' %>
<% end %>

